<html>
    <head>
      <meta charset="utf-8" />
      <title>Kitten</title>
      
    </head>
    <body>
      <div class="container">
        HOME
        <form method="post">
            <input type="text" name="repos" placeholder="https://github.com/BackGrowZ/Epreuve-Terre">
            <select name="langage">
                <option value="js">Javascript</option>
                <option value="php" disabled>PHP (soon)</option>
                <option value="rb" disabled>Ruby (soon)</option>
                <option value="python" disabled>Python (soon)</option>
            </select>
            <select name="epreuve">
                <option value="terre">Terre</option>
                <option value="eau" disabled>Eau (soon)</option>
                <option value="air" disabled>Air (soon)</option>
                <option value="feu" disabled>Feu (soon)</option>
            </select>
            <input type="submit" value="Ajouter">
        </form>
      </div>
      <div>
      </div>
    </body>
  </html>