<main id="container">
    <div id="terminal">
      <!-- Terminal Bar -->       
      <section id="terminal__bar">          
        <div id="bar__buttons">            
          <button class="bar__button" id="bar__button--exit">&#10005;</button>            
          <button class="bar__button">&#9472;</button>                
          <button class="bar__button">&#9723;</button>          
        </div>          
        <p id="bar__user">Correcteur@CA: ~</p>        
      </section>        
      <!-- Terminal Body -->        
      <section id="terminal__body">          
        <div id="terminal__prompt">            
            <span id="terminal__prompt--user">Correcteur@CA:</span>            
            <span id="terminal__prompt--location">~</span>            
            <span id="terminal__prompt--bling">$</span>
            <span id="terminal__prompt--bling">&nbsp;<%= shell %></span>
        </div>    
        <div id="terminal__prompt">            
            <span id="terminal__prompt--user">Correcteur@CA:</span>            
            <span id="terminal__prompt--location">~</span>            
            <span id="terminal__prompt--bling">$</span>            
            <span id="terminal__prompt--bling">&nbsp;<%= output %></span>
        </div> 
        <div id="terminal__prompt">            
            <span id="terminal__prompt--user">Correcteur@CA:</span>            
            <span id="terminal__prompt--location">~</span>            
            <span id="terminal__prompt--bling">$</span>            
            <span id="terminal__prompt--cursor"></span>          
        </div>        
      </section>      
    </div>    
  </main>